body {
  background-color: #e6fff2;
}

.reservedbubble {
  background: #b3ffb3;
  border-radius: 25px;
  color: #009900;
  font-size: 15px;
  height: 15px;
  padding: 20px;
  position: absolute;
  right: 10px;
  text-align: center;
  vertical-align: right;
  width: 200px;
}
