.superuserbubble {
  background: #ffd6cc;
  border-radius: 25px;
  color: #ff3300;
  font-size: 15px;
  height: 15px;
  padding: 20px;
  position: absolute;
  right: 10px;
  text-align: center;
  vertical-align: right;
  width: 200px;
}
